@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

body
{
  font-family: 'Poller One', cursive;
  background-image: url('images/sky.jpg');
  background-attachment: fixed;
  color: whitesmoke;
}

header, footer
{
  background-color: rgba(60, 69, 67, 0.6);
}

section.left img
{
  z-index: -1;
}

img
{
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

.right img
{
  box-shadow: none;
  width: 160px;
  height: 150px;
}

span
{
  font-size: 1.3em;
  color: black;
}

p
{
  text-align: justify;
}

.squares{
  max-width: 360px;
  max-height: 360px;
  display: flex;
  float: right;
  flex-wrap: wrap;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}



.friendImgNormalSize {
  width: 120px;
  height: 120px;
}

.friendImgBigSize {
  width: 360px;
  height: 360px;
}